<div class="scorecard-container">
  <h2 class="heading">Scorecard</h2>
  <br />
  <div class="tabs">
    <button class="tab" [class.active]="activeTeam === 'Australia'" (click)="selectTeam('Australia')">Australia</button>
    <button class="tab" [class.active]="activeTeam === 'India'" (click)="selectTeam('India')">India</button>
  </div>

  <div class="scroller">
    <div class="batting-section" >
      <table>
        <thead>
          <tr>
            <th><span>Batting</span> <span class="arrow">▲</span></th>
            <th>R</th>
            <th>B</th>
            <th>6s</th>
            <th>4s</th>
            <th>S/R</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="player-info">
                <span class="player-name">David Warner</span>
                <span class="player-role">Batter & bowler</span>
              </div>
            </td>
            <td>41</td>
            <td>30</td>
            <td>2</td>
            <td>4</td>
            <td>78.87</td>
          </tr>
          <tr>
            <td>
              <div class="player-info">
                <span class="player-name">David Warner</span>
                <span class="player-role">Batter & bowler</span>
              </div>
            </td>
            <td>41</td>
            <td>30</td>
            <td>2</td>
            <td>4</td>
            <td>78.87</td>
          </tr>
          <tr>
            <td>
              <div class="player-info">
                <span class="player-name">David Warner</span>
                <span class="player-role">Batter & bowler</span>
              </div>
            </td>
            <td>41</td>
            <td>30</td>
            <td>2</td>
            <td>4</td>
            <td>78.87</td>
          </tr>
          <tr>
            <td>
              <div class="player-info">
                <span class="player-name">David Warner</span>
                <span class="player-role">Batter & bowler</span>
              </div>
            </td>
            <td>41</td>
            <td>30</td>
            <td>2</td>
            <td>4</td>
            <td>78.87</td>
          </tr>
          <tr>
            <td>
              <div class="player-info">
                <span class="player-name">David Warner</span>
                <span class="player-role">Batter & bowler</span>
              </div>
            </td>
            <td>41</td>
            <td>30</td>
            <td>2</td>
            <td>4</td>
            <td>78.87</td>
          </tr>
          <tr>
            <td>
              <div class="player-info">
                <span class="player-name">David Warner</span>
                <span class="player-role">Batter & bowler</span>
              </div>
            </td>
            <td>41</td>
            <td>30</td>
            <td>2</td>
            <td>4</td>
            <td>78.87</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="bowling-section" >
        <table>
          <thead>
            <tr>
              <th><span>Bowling</span> <span class="arrow">▲</span></th>
              <th>O</th>
              <th>M</th>
              <th>R</th>
              <th>W</th>
              <th>NB</th>
              <th>WD</th>
              <th>ECO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="player-info">
                  <span class="player-name">David Warner</span>
                  <span class="player-role">Batter & bowler</span>
                </div>
              </td>
              <td>41</td>
              <td>30</td>
              <td>2</td>
              <td>4</td>
              <td>78.87</td>
              <td>41</td>
              <td>30</td>
            </tr>
            <tr>
              <td>
                <div class="player-info">
                  <span class="player-name">David Warner</span>
                  <span class="player-role">Batter & bowler</span>
                </div>
              </td>
              <td>41</td>
              <td>30</td>
              <td>2</td>
              <td>4</td>
              <td>78.87</td>
              <td>41</td>
              <td>30</td>
            </tr>
            <tr>
              <td>
                <div class="player-info">
                  <span class="player-name">David Warner</span>
                  <span class="player-role">Batter & bowler</span>
                </div>
              </td>
              <td>41</td>
              <td>30</td>
              <td>2</td>
              <td>4</td>
              <td>78.87</td>
              <td>41</td>
              <td>30</td>
            </tr>
            <tr>
              <td>
                <div class="player-info">
                  <span class="player-name">David Warner</span>
                  <span class="player-role">Batter & bowler</span>
                </div>
              </td>
              <td>41</td>
              <td>30</td>
              <td>2</td>
              <td>4</td>
              <td>78.87</td>
              <td>41</td>
              <td>30</td>
            </tr>
            <tr>
              <td>
                <div class="player-info">
                  <span class="player-name">David Warner</span>
                  <span class="player-role">Batter & bowler</span>
                </div>
              </td>
              <td>41</td>
              <td>30</td>
              <td>2</td>
              <td>4</td>
              <td>78.87</td>
              <td>41</td>
              <td>30</td>
            </tr>
            <tr>
              <td>
                <div class="player-info">
                  <span class="player-name">David Warner</span>
                  <span class="player-role">Batter & bowler</span>
                </div>
              </td>
              <td>41</td>
              <td>30</td>
              <td>2</td>
              <td>4</td>
              <td>78.87</td>
              <td>41</td>
              <td>30</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
