<nav class="main-header">
    <div class="logo-section">
        <img src="assets/logos/dark-bg-logo.PNG" alt="F-Manage Logo" class="logo-img" />
        <!-- <span class="brand"><b>F-Manage</b></span> -->
    </div>
    <div class="nav-links">
        <a class="nav-link" routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
            Users
        </a> 
        <a class="nav-link" routerLink="/files" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }">
            Files
        </a>
        <button class="logout-btn">Logout</button>
    </div>
</nav>