<div class="files-container">
  <app-header></app-header>
  <app-upload-file-modal *ngIf="showUploadModal()" (closed)="showUploadModal.set(false)" (uploaded)="loadFiles()"></app-upload-file-modal>
  <div class="files-content">
    <div class="files-toolbar">
      <div class="tabs">
        <button 
          *ngFor="let tab of ['All', 'Video', 'Image', 'Doc']"
          [ngClass]="{active: selectedTab === tab}"
          (click)="selectTab(tab)">
          {{ tab }}
        </button>
      </div>
      <select class="type-select" [value]="selectedType()" (change)="onTypeChange($event)">
        <option value="">All</option>
        <option *ngFor="let type of fileTypes()" [value]="type">{{ type }}</option>
      </select>
      <div class="search-group">
        <input 
          class="search-input"
          type="text" 
          [value]="searchTerm()"
          (input)="onSearchChange($event)"
          placeholder="Search by date"
        />
        <span class="search-icon">&#128269;</span>
      </div>
      <button class="upload-btn" (click)="onUploadFile()">
        <span class="plus-icon">+</span> Upload File
      </button>
    </div>

    <app-custom-table
      [columns]="columns"
      [data]="paginatedFiles()"
      [totalItems]="totalItems()"
      [currentPage]="currentPage()"
      [pageSize]="pageSize()"
      [actions]="actions"
      [loading]="loading()"
      (pageChange)="onPageChange($event)"
      (actionClick)="onActionClick($event)">
    </app-custom-table>
  </div>
</div>
