<div class="series-list-container">
  <div class="search-container">
    <input 
      type="text" 
      class="search-input" 
      placeholder="Search series..." 
      (input)="onSearch($event)"
    />
  </div>

  <div class="series-items-container">
    <button class="show-series-btn" (click)="toggleSeriesList()">
      {{ isSeriesListExpanded() ? 'Hide Series List' : 'Show All Series' }}
    </button>
    <div class="series-list" [class.expanded]="isSeriesListExpanded()">
      <div class="series-item-accordion" *ngFor="let s of series()">
        <div class="series-accordion-header" (click)="selectSeries(s.id)">
          <span class="series-name">{{ s.name }}</span>
          <div class="selected-match" *ngIf="getSelectedMatchInSeries()(s)">
            {{ getSelectedMatchInSeries()(s)?.teamInfo?.[0]?.shortname }} vs {{ getSelectedMatchInSeries()(s)?.teamInfo?.[1]?.shortname ?? '--' }}
          </div>
          <span class="toggle-arrow">{{ s.showMatches ? "▲" : "▼" }}</span>
        </div>
        <div class="match-list-accordion" *ngIf="s.showMatches">
          <div *ngIf="seriesService.isSeriesLoading(s.id)" class="loading-matches">
            <div class="spinner"></div>
            <div class="loading-text">Loading matches...</div>
          </div>
          <div *ngIf="!seriesService.isSeriesLoading(s.id)">
            <div *ngFor="let match of s.matchList">
              <div class="match-item" [class.active]="selectedMatch() === match.id" (click)="selectMatch(match.id)">
                <div class="team-info">{{ match.teams[0] }}</div>
                <div class="team-info">
                  <span>vs</span>
                  <div class="match-result">{{ match.status }}</div>
                </div>
                <div class="team-info">{{ match.teams[1] }}</div>
              </div>
              <hr />
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
