<div class="container">
  <div class="match-summary">
    <div class="team-scores">
      <div class="team-score">
        <div class="team-name">{{matchData()?.teamInfo?.[0]?.shortname ?? "--"}}</div>
        <div class="score-details">
          <span class="runs">{{matchData()?.score?.[1]?.r ?? "--"}} - {{ matchData()?.score?.[1]?.w ?? "--"}}</span>
          <!-- <span class="run-text">runs</span> -->
          <span class="separator">/</span>
          <span class="overs">{{matchData()?.score?.[0]?.o ?? "--"}}</span>
          <span class="over-text">overs</span>
        </div>
      </div>
      <div class="vs">VS</div>
      <div class="team-score">
        <div class="team-name">{{matchData()?.teamInfo?.[1]?.shortname ?? "--"}}</div>
        <div class="score-details">
          <span class="runs">{{matchData()?.score?.[1]?.r ?? "--"}} - {{ matchData()?.score?.[1]?.w ?? "--"}}</span>
          <!-- <span class="run-text">runs</span> -->
          <span class="separator">/</span>
          <span class="overs">{{matchData()?.score?.[1]?.o ?? "--"}}</span>
          <span class="over-text">overs</span>
        </div>
      </div>
    </div>
  </div>
<!-- 
  @if(false){
  <div class="batting-card">
    <div class="card-title">Australia (Batting) *</div>
    <div class="player-row">
      <span class="player-name">David Warner *</span>
      <span class="player-score">41 (30)</span>
    </div>
    <div class="player-row">
      <span class="player-name">Steve Smith</span>
      <span class="player-score">20 (12)</span>
    </div>
  </div>

  <div class="bowling-card">
    <div class="card-title">India (Bowling)</div>
    <div class="bowler-info">
      <span class="bullet">•</span>
      <span class="bowler-name">David Warner</span>
    </div>
    <div class="bowling-stats">
      <span class="stat-circle">6</span>
      <span class="stat-circle">0</span>
      <span class="stat-circle">1</span>
      <span class="stat-circle">-</span>
      <span class="stat-circle">-</span>
      <span class="stat-circle">-</span>
    </div>
  </div>
  } @else { 
    
    <div class="notLive">
       Match is not live
    </div>

  } -->
</div>
