:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

router-outlet {
  margin-top: 64px; // Height of the toolbar
  flex: 1;
  display: block;
  background-color: #fafafa;
} 